# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual env
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env